@import url('https://fonts.googleapis.com/css?family=Raleway');

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/*------------Button Style Start------------*/

.btn {
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.disable {
	color: #222222;
	background: #f9f9ff;
	border: 1px solid transparent;
	cursor: not-allowed;
}

/*------Filled------*/

.fill_default {
	color: #222222;
	background: #f9f9ff;
	border: 1px solid transparent;
}

.fill_default:hover {
	border: 1px solid #f9f9ff;
	background: #fff;
}

.fill_primary {
	color: #fff;
	background: #3e69fe;
	border: 1px solid transparent;
}

.fill_primary:hover {
	color: #3e69fe;
	border: 1px solid #3e69fe;
	background: #fff;
}

.fill_success {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent;
}

.fill_success:hover {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff;
}

.fill_info {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent;
}

.fill_info:hover {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff;
}

.fill_warning {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent;
}

.fill_warning:hover {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff;
}

.fill_dengar {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent;
}

.fill_dengar:hover {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff;
}

.fill_link {
	color: #222222;
	background: #f9f9ff;
	text-decoration: underline;
	border: 1px solid transparent;
}

.fill_link:hover {
	color: #222222;
	border: 1px solid #f9f9ff;
	background: #fff;
}


/*------Line------*/

.line_default {
	border: 1px solid #f9f9ff;
	background: #fff;
}

.line_default:hover {
	color: #222222;
	background: #f9f9ff;
	border: 1px solid transparent;
}

.line_primary {
	color: #3e69fe;
	border: 1px solid #3e69fe;
	background: #fff;
}

.line_primary:hover {
	color: #fff;
	background: #3e69fe;
	border: 1px solid transparent;
}

.line_success {
	color: #4cd3e3;
	border: 1px solid #4cd3e3;
	background: #fff;
}

.line_success:hover {
	color: #fff;
	background: #4cd3e3;
	border: 1px solid transparent;
}

.line_info {
	color: #38a4ff;
	border: 1px solid #38a4ff;
	background: #fff;
}

.line_info:hover {
	color: #fff;
	background: #38a4ff;
	border: 1px solid transparent;
}

.line_warning {
	color: #f4e700;
	border: 1px solid #f4e700;
	background: #fff;
}

.line_warning:hover {
	color: #fff;
	background: #f4e700;
	border: 1px solid transparent;
}

.line_dengar {
	color: #f44a40;
	border: 1px solid #f44a40;
	background: #fff;
}

.line_dengar:hover {
	color: #fff;
	background: #f44a40;
	border: 1px solid transparent;
}

.line_link {
	color: #222222;
	border: 1px solid #f9f9ff;
	background: #fff;
	text-decoration: underline;
}

.line_link:hover {
	color: #222222;
	background: #f9f9ff;
	border: 1px solid transparent;
}

/*------Size------*/

.xl {
	padding: 0 40px;
	line-height: 50px;
}

.lg {
	line-height: 45px;
}

.md {
	line-height: 30px;
}

.sm {
	line-height: 25px;
}

/*------Button Group------*/

.button_group {
	position: relative;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.button_group .btn {
	border-right: none;
	border-color: transparent;
}

/*------------Form------------*/

/*------input------*/
input[type="text"] {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
}

/*------input------*/

/*------select and option------*/

.select_default {
	height: 40px;
}

.select_without_icon {
	font
	border: none;
	border-radius: 0px;
	height: 40px;
	background: #f9f9ff;
	padding-left: 20px;
	padding-right: 40px;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 15px;
	font-weight: normal;
	line-height: 40px;
	outline: none;
	position: relative;
	text-align: left !important;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
}

.select_without_icon::after {
	right: 20px;
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	content: '';
	display: block;
	height: 5px;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 5px;
}

.select_icon_down::after {
	right: 20px;
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	content: '';
	display: block;
	height: 5px;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 5px;
}

.list {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px;
	background-color: #fff;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	transform-origin: 50% 0;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 9;
}

.list.hide {
	margin-top: 0;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	width: 100%;
	padding: 10px 0 10px 0px;
	background-color: #fff;box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	transform-origin: 50% 0;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 9;
	display: none;
}

.list .selected {
	color: #3e69fe;
	background: transparent;

}

.list .option {
	font-weight: 300;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	line-height: 28px;
	min-height: 28px;
	font-size: 15px;
	padding-left: 20px;
	cursor: pointer;
	list-style: none;
	outline: none;
	padding-right: 29px;
	text-align: left;
}

/*------select and option------*/

/*------------CheckBox------------*/

.checkbox_with_label_wrapper {
	display: flex;
	height: 16px;
	padding: 15px 0px;
}

/*------Default------*/

.checkbox_primary {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
	margin-top: 5px;
}

.checkbox_primary input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.checkbox_primary input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
	display: inline-block;
	margin-bottom: .5rem;
}

.checkbox_primary input:checked + label {
    background: url(../img/primary-check.png) no-repeat center center/cover;
    border: none;
}

.label {
	margin-left: 10px;
}

/*------Default------*/

/*------------CheckBox------------*/

/*------------Radio------------*/

.radio_with_label_wrapper {
	display: flex;
	height: 16px;
	padding: 15px 0px;
}

/*------Default------*/

.radio_primary {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}

.radio_primary input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.radio_primary input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
	display: inline-block;
	margin-bottom: .5rem;
}

.radio_primary input:checked + label {
    background: url(../img/elements/primary-radio.png) no-repeat center center/cover;
    border: none;
}

.label {
	
}

/*------Textarea------*/

textarea {
	display: block;
	width: 100%;
	line-height: 40px;
	border: none;
	outline: none;
	background: #f9f9ff;
	padding: 0 20px;
	height: 150px;
	resize: none;
	overflow: auto;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
}

/*------Textarea------*/

/*------------Switches------------*/

.switch_with_label {
	display: flex;
	height: 16px;
	padding: 15px 0px;
}

/*------Primary------*/

.switch_primary {
	width: 35px;
	height: 17px;
	border-radius: 8.5px;
	background: #f9f9ff;
	position: relative;
	cursor: pointer;
}

.switch_primary input {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.switch_primary input + label {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-bottom: .5rem;
}

.switch_primary input + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.switch_primary input + label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.switch_primary input:checked + label:after {
  left: 19px;
}

.switch_primary input:checked + label:before {
  background: #3e69fe;
}

/*------Confirm------*/

.switch_confirm {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #f9f9ff;
  position: relative;
  cursor: pointer;
}

.switch_confirm input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.switch_confirm input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.switch_confirm input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.switch_confirm input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.switch_confirm input:checked + label:after {
  left: 19px;
}

.switch_confirm input:checked + label:before {
  background: #4cd3e3;
}

/*------------List Item------------*/

/*------Unordered Item------------*/

ul.u_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.u_list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

ul.u_list li::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #3e69fe;
    background: #fff;
    top: 4px;
    left: 0;
    border-radius: 50%;
}

/*------Ordered Item------------*/

/*------Number Item------------*/

ol.o_n_list {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	list-style: none;
}

ol.o_n_list li {
    list-style-type: decimal-leading-zero;
    color: #3e69fe;
    font-weight: 500;
    line-height: 1.82em !important;
}

/*------Roman Item------------*/

ol.o_r_list {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	list-style: none;
}

ol.o_r_list li {
	margin-left: 30px;
	list-style-type: lower-roman;
	color: #3e69fe;
	font-weight: 500;
	line-height: 1.82em !important;
}

/*------Alpha Item------------*/

ol.o_a_list {
	margin: 0;
	margin-left: 30px;
	padding: 0;
	list-style: none;
}

ol.o_a_list li {
	margin-left: 30px;
	list-style-type: lower-alpha;
	color: #3e69fe;
	font-weight: 500;
	line-height: 1.82em !important;
}

/*------------Grid System------------*/

/*------wrapper------*/

/*---wrapper---*/

.wrapper {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*---Small Wrapper---*/

@media only screen and (min-width: 576px) {
	.wrapper {
		max-width: 540px;
	}
}

/*---Medium Wrapper---*/

@media only screen and (min-width: 768px) {
	.wrapper {
		max-width: 720px;
	}
}

/*---Large Wrapper---*/

@media only screen and (min-width: 992px) {
	.wrapper {
		max-width: 960px;
	}
}

/*---Extra Large Wrapper---*/

@media only screen and (min-width: 1200px) {
	.wrapper {
		max-width: 1140px;
	}
}

/*------columns------*/

.cols {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	width: auto;
}

/*------column------*/

.col {
	flex: 1;
	margin: 0px 10px;
}

/*------Default------*/

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

/*---Small---*/

@media only screen and (min-width: 576px) {
	.col-sm-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; } .col-sm-2 { -ms-flex: 0 0 16.67%; flex: 0 0 16.67%; max-width: 16.67%; } .col-sm-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } .col-sm-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } .col-sm-5 { -ms-flex: 0 0 41.67%; flex: 0 0 41.67%; max-width: 41.67%; } .col-sm-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } .col-sm-7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } .col-sm-8 { -ms-flex: 0 0 66.67%; flex: 0 0 66.67%; max-width: 66.67%; } .col-sm-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } .col-sm-10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } .col-sm-11 { -ms-flex: 0 0 91.67%; flex: 0 0 91.67%; max-width: 91.67%; } .col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}

/*---Medium---*/

@media only screen and (min-width: 768px) {
	.col-md-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; } .col-md-2 { -ms-flex: 0 0 16.67%; flex: 0 0 16.67%; max-width: 16.67%; } .col-md-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } .col-md-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } .col-md-5 { -ms-flex: 0 0 41.67%; flex: 0 0 41.67%; max-width: 41.67%; } .col-md-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } .col-md-7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } .col-md-8 { -ms-flex: 0 0 66.67%; flex: 0 0 66.67%; max-width: 66.67%; } .col-md-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } .col-md-10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } .col-md-11 { -ms-flex: 0 0 91.67%; flex: 0 0 91.67%; max-width: 91.67%; } .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}

/*---Large---*/

@media only screen and (min-width: 992px) {
	.col-lg-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; } .col-lg-2 { -ms-flex: 0 0 16.67%; flex: 0 0 16.67%; max-width: 16.67%; } .col-lg-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } .col-lg-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } .col-lg-5 { -ms-flex: 0 0 41.67%; flex: 0 0 41.67%; max-width: 41.67%; } .col-lg-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } .col-lg-7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } .col-lg-8 { -ms-flex: 0 0 66.67%; flex: 0 0 66.67%; max-width: 66.67%; } .col-lg-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } .col-lg-10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } .col-lg-11 { -ms-flex: 0 0 91.67%; flex: 0 0 91.67%; max-width: 91.67%; } .col-lg-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}

/*---Extra Large---*/

@media only screen and (min-width: 1200px) {
	.col-xl-1 { -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; } .col-xl-2 { -ms-flex: 0 0 16.67%; flex: 0 0 16.67%; max-width: 16.67%; } .col-xl-3 { -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; } .col-xl-4 { -ms-flex: 0 0 33.33%; flex: 0 0 33.33%; max-width: 33.33%; } .col-xl-5 { -ms-flex: 0 0 41.67%; flex: 0 0 41.67%; max-width: 41.67%; } .col-xl-6 { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; } .col-xl-7 { -ms-flex: 0 0 58.33%; flex: 0 0 58.33%; max-width: 58.33%; } .col-xl-8 { -ms-flex: 0 0 66.67%; flex: 0 0 66.67%; max-width: 66.67%; } .col-xl-9 { -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; } .col-xl-10 { -ms-flex: 0 0 83.33%; flex: 0 0 83.33%; max-width: 83.33%; } .col-xl-11 { -ms-flex: 0 0 91.67%; flex: 0 0 91.67%; max-width: 91.67%; } .col-xl-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
}

/*------------Cards------------*/

.card {
	width: 450px;
	height: 300px;
	margin: 10px;
	background-color: #F9F9FF;
	transition: box-shadow 1s ease-in-out;
	text-align: center;
}

.card:hover {
	box-shadow: 2px 4px 2px #f2f2f2;
}

.card.subtitle {
	width: 100%;
	height: 150px;
	background-color: #f9f9f9;
}

/*------Background Color------*/

.primary {
	background: #3e69fe;
}

.success {
	background: #4cd3e3;
}

.info {
	background: #38a4ff;
}

.warning {
	background: #f4e700;
}

.dengar {
	background: #f44a40;
}